<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Seu Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen *ngIf="auth.user | async as user">
  <ion-card class="ion-no-margin ion-margin-bottom ion-padding">
    <img src="{{ user.photoURL }}" alt="{{ user.displayName }}">
    <ion-card-header class="ion-text-center">
      <ion-card-title>{{ user.displayName }}</ion-card-title>
      <ion-card-subtitle>{{  user.email }}</ion-card-subtitle>
      <ion-card-subtitle>{{ user.phoneNumber }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p class="ion-margin-bottom ion-text-justify top">
        Você fez login usando uma <strong>Conta do Google</strong>. 
        Para editar seu perfil e/ou trocar a senha clique no botão abaixo: 
      </p>
  
      <ion-button class="ion-margin-top ion-margin-bottom" expand="block" (click)="profile()">
        Editar perfil
      </ion-button>


      <p class="ion-margin-top ion-text-justify top">Para <strong>sair do aplicativo</strong>, clique no botão abaixo.</p>
      <ion-button class="ion-margin-top ion-margin-bottom" expand="block" routerLink="/logout" color="danger">
        Sair do aplicativo
      </ion-button>

    </ion-card-content>

    
  </ion-card>
</ion-content>