<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Chess</ion-list-header>
          <ion-note>A história dos grandes mestres.</ion-note>

          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" routerLink="/" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon name="home" slot="start"></ion-icon>
              <ion-label>Início</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" routerLink="/news" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon name="newspaper" slot="start"></ion-icon>
              <ion-label>Notícias</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" routerLink="/contacts" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon name="mail" slot="start"></ion-icon>
              <ion-label>Faça contato</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" routerLink="/about" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon name="information-circle" slot="start"></ion-icon>
              <ion-label>Sobre</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>

      <ion-text class="ion-text-center ion-padding">
        <small>&copy; Copyright 2021 - Erick Rangel</small>
      </ion-text>

    </ion-menu>


    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
